.App {
  align-items: center;
}

.App-header{
  align-items: center;
  background-color: #282c34;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  height: fit-content;
  padding: 20px;
  
}

.App-link{
  color: #61dafb  ;
}

.Container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.wrapper{
  padding: 20px;
}
 
